/*----------------------- Preloader -----------------------*/

body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: $color-green;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 20rem;
    text-align: center;
    @include logotype(l);
    color: white;
    @include bp(s) {
        top: 35%;
    }
}