// =========================================================================== P R E L O A D E R

/*
body.preloader-site {
    overflow: hidden;
}*/

.modal-is-active {
    .preloader-wrapper {
        background: $color-background-green;
    }
}

.preloader-wrapper {
    background: $color-background-red;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}