
$transition-curve--project-teaser:        cubic-bezier(0,.5,.5,1);
$transition-curve--project-teaser-back:   cubic-bezier(.5,0,1,.5);

#section--projects {
  display: inline-block;
  padding: $gutter-y (.5 * $gutter-x);
  .project-column {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 0 (.5 * $gutter-x);
    @include bp(m) {
      width: 100%;
    }
    .project-banner {
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      margin: (.5 * $gutter-y) 0;
      font-size: 0;
      &.img-small { width: 60%; }
      &.img-middle { width: 80%; }
      &.img-large { width: 100%; }
      &.img-left { float: left; }
      &.img-right { float: right; }
      a {
        display: inline-block;
        img { width: 100%; }
      }
      .project-text {
        position: absolute;
        pointer-events: none;
        width: 100%; height: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity .2s $transition-curve--project-teaser-back;
        h2 {
          @include font-sans(m, .03em, 1.15);
          transition: transform .2s $transition-curve--project-teaser-back;
          transform: scale(0);
          text-align: center;
          span {
            @include font-serif(xs, .03em);
          }
        }
        &.project-text--light {
          background: radial-gradient(circle at center, rgba($color-hover-background-light,1) 0, rgba($color-hover-background-light,0) 90%);
          h2 {
            color: $color-hover-dark;
          }
        }
        &.project-text--dark {
          background: radial-gradient(circle at center, rgba($color-hover-background-dark,1) 0, rgba($color-hover-background-dark,0) 90%);
          h2 {
            color: $color-hover-light;
          }
        }

      }
      @include hover() {
        .project-text {
          opacity: 1;
          transition: opacity .4s $transition-curve--project-teaser;
          h2 {
            transform: scale(1);
            transition: transform .4s $transition-curve--project-teaser;
          }
        }
      }
    }
  }
}

.touch-device & {
  #section--projects .project-column .project-banner .project-text {
    opacity: 1;
    position: inherit;
    height: 5rem;
    align-items: flex-start;
    &.project-text--light, &.project-text--dark {
      background: none;
      h2 {
        transform: scale(1);
        color: $color-hover-dark;
      }
    }
  }
}