footer {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: (.5 * $gutter-y) (.5 * $gutter-x);
  background: $color-background-dark;
  #footer-text {
    box-sizing: border-box;
    width: 50rem;
    max-width: 100%;
    padding: $gutter-y (.5 * $gutter-x);
    @include serif-large();
    p { margin: 0; }
  }
  #foot-line {
    max-width: 100%;
    width: 50rem;
    @include sans-extrasmall();
    list-style: none;
    padding: (.5 * $gutter-y) 0;
    margin: 0 (.5 * $gutter-y);
    display: flex;
    justify-content: space-between;
    li {
      padding: (.5 * $gutter-y) 0;
      p {
        margin: .5rem 0;
        a {
          display: inline-block;
          @include hover--footer-link();
        }
      }
      span {
        display: inline-block;
      }
      &.footer-li-middle {
        transform: translateX(-1rem);
      }
    }
  }
}