footer {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: (.5 * $gutter);
  background: $color-background-dark;
  #footer-text {
    box-sizing: border-box;
    width: 50rem;
    max-width: 100%;
    padding: $gutter (.5 * $gutter);
    @include serif-large();
    p { margin: 0; }
  }
  #foot-line {
    width: 100%;
    @include monospace-extrasmall();
    list-style: none;
    padding: (.5 * $gutter) (.5 * $gutter);
    margin-bottom: (.5 * $gutter);
    li {
      padding: (.5 * $gutter) 0;
      width: calc(100% / 3);
      float: left;
      #copyright {
        word-spacing: -.2em;
      }
      p a {
        display: inline-block;
        @include hover--footer-link();
      }
      span {
        display: inline-block;
      }
    }
  }
}