#scroll-marker-wrapper {
  user-select: none;
  position: fixed;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  width: 4.5em;
  margin: 0 auto;
  left: 0; right: 0; bottom: .5rem;
  @include font-sans(xs, .05em, 1.75);
  #scroll-marker {
    display: inline-block;
    pointer-events: all;
    #scroll-arrow {
      @include logotype(s);
      font-size: font-size(xs);
      animation: scrollArrow .75s ease infinite alternate-reverse;
    }
  }
}