#section--about {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: calc(3rem + 6vw) (.5 * $gutter-x) (.5 * $gutter-y);
  @include font-serif(l, .01em, 1.6);
  #about-text {
    box-sizing: border-box;
    width: 50rem;
    max-width: 100%;
    padding: 0 (.5 * $gutter-x) (.5 * $gutter-y);
    a {
      display: inline-block;
      backface-visibility: visible;
      overflow: visible;
      @include font-serif(l, false, false, italic);
      @include hover--about-link();
    }
    .icon {
      font-family: $logotype;
      will-change: content;
    }
    .icon--sun:before {
      content: '\1F325';
      animation: sunIcon 4s infinite;
    }
    .icon--device:before {
      content: '\1F5A5';
      animation: deviceIcon 3s infinite;
    }
    .icon--human:before {
      content: '\1F483';
      animation: humanIcon 4s infinite;
    }
    .icon--tree:before {
      content: '\1F333';
      animation: treeIcon 8s infinite;
    }
    .icon--ice-tea:before {
      content: '\1F37A';
      animation: iceTeaIcon 4s infinite;
    }
    &.scroll-animation-top, &.scroll-animation-bottom {
      .icon--sun,
      .icon--device,
      .icon--human,
      .icon--tree,
      .icon--ice-tea {
        &:before {
          animation: null;
        }
      }
    }

  }
}