#section--about {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 8vw (.5 * $gutter-x) $gutter-y;
  @include serif-large();
  background: linear-gradient(to bottom, $color-background-light 20%, $color-background-dark 100%);
  #about-text {
    box-sizing: border-box;
    width: 50rem;
    max-width: 100%;
    padding: 0 (.5 * $gutter-x);
    @include on-load--about-text();
    a, span {
      display: inline-block;
      @include serif-large-italic();
      @include hover--about-link();
    }
    span { cursor: default; }
  }
  #about-images {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    overflow: hidden;
    .about-image {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate3D(-50%,-50%,0);
      @include hover--about-image();
    }
  }
}