#section--projects {
  display: inline-block;
  padding: $gutter-y (.5 * $gutter-x);
  .project-column {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 0 (.5 * $gutter-x);
    @include bp(m) {
      width: 100%;
    }
    .project-banner {
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      margin: (.5 * $gutter-y) 0;
      font-size: 0;
      &.img-small { width: 60%; }
      &.img-middle { width: 80%; }
      &.img-large { width: 100%; }
      &.img-left { float: left; }
      &.img-right { float: right; }
      a {
        display: inline-block;
        img { width: 100%; }
      }
      .project-text {
        position: absolute;
        pointer-events: none;
        width: 100%; height: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity .6s ease;
        h2 {
          @include font-sans(m, .03em, 1.15);
          transition: transform .5s ease;
          transform: scale(0);
          text-align: center;
          span {
            @include font-serif(xs, .03em);
          }
        }
        &.project-text--light {
          background: radial-gradient(circle at center, rgba($color-hover-background-light,1) 0, rgba($color-hover-background-light,0) 90%);
          h2 {
            color: $color-hover-dark;
          }
        }
        &.project-text--dark {
          background: radial-gradient(circle at center, rgba($color-hover-background-dark,1) 0, rgba($color-hover-background-dark,0) 90%);
          h2 {
            color: $color-hover-light;
          }
        }

      }
      &:hover {
        .project-text {
          opacity: 1;
          h2 {
            transform: scale(1);
          }
        }
      }
    }
  }
}