// Color map

$colors: (
  primary: rgb(50, 50, 50),
  secondary: rgb(50, 50, 50),
  tertiary: rgb(50, 50, 50),
  accent: rgb(50, 50, 50),
  inactive: rgb(50, 50, 50),
  link: rgb(50, 50, 50),
  hover: rgb(50, 50, 50),
  active: rgb(50, 50, 50),
  focus: rgb(50, 50, 50)
);
