
// ==================================================================================================== H O V E R

@mixin hover() {
  @media not all and (hover: none) {
    &:hover {
      @content;
    }
  }
}


// ====================================================================== Concrete Hover Effects

@mixin hover--about-link() {
  transition: transform .5s cubic-bezier(.5, 0, .5, 1);
  @include hover {
    transform: skewX(7.5deg);
  }
}
@mixin hover--footer-link() {
  transition: transform .5s ease;
  @include hover {
    transform: skewX(-8.75deg);
  }
}