/*
$transition-curve--scroll: cubic-bezier(0, .4, .4, 1);
$transition-time--scroll: 1s;
*/
$transition-curve--object-scroll: cubic-bezier(.4, 0, .8, .8);
$transition-time--object-scroll: .5s;

$transition-time--header-scroll: .4s;
$transition-curve--header-scroll: cubic-bezier(.8, 0, .1, 1);
$transition-delay--header-scroll: $transition-time--header-scroll / 2;

// ================================================== Objects on Scroll
.fade-in {
  > * {
    opacity: 0;
    transition:
            opacity (.7 * $transition-time--object-scroll) $transition-curve--object-scroll,
            transform $transition-time--object-scroll $transition-curve--object-scroll;
  }
  &.footer-li > * {
    transition: opacity $transition-time--object-scroll $transition-curve--object-scroll;
    transform: translate3D(0, 0, 0);
  }
  &.fade-in-visible > * { opacity: 1; }
  &.fade-out > * { opacity: 0; }
}

.page--main {
  .fade-in {
    > * { transform: perspective(100vw) rotateX(-30deg) scale(0.95) translate3D(0, 5rem, 0); }
    &.fade-in-visible > * { transform: perspective(100vw) rotateX(0deg) scale(1) translate3D(0, 0, 0); }
    &.fade-out > * { transform: perspective(100vw) rotateX(30deg) scale(0.95) translate3D(0, -5rem, 0); }
  }
}
.page--project {
  .fade-in {
    > * { transform: translate3D(0, 5rem, 0); }
    &.fade-in-visible > * { transform: translate3D(0, 0, 0); }
    &.fade-out > * { transform: translate3D(0, -5rem, 0); }
  }
}

// ================================================== Header on Scroll
header {
  #header--page-main {
    .word-mark span {
      transform: translate3D(0, 0, 0);
      transition-duration: $transition-time--header-scroll;
      transition-timing-function: $transition-curve--header-scroll;
      transition-delay: $transition-delay--header-scroll;
    }
    .header-icon .icon-wrapper {
      opacity: 0;
      transform: translate3D(0, -4rem, 0);
      transition-duration: $transition-time--header-scroll;
      transition-timing-function: $transition-curve--header-scroll;
      transition-delay: 0s;
    }
  }
  &.scroll-down {
    #header--page-main {
      .word-mark {
        span {
          transition-delay: 0s;
          &#h1--left { transform: translate3D(-50vw, 0, 0); }
          &#h1--center { transform: translate3D(0, -3rem, 0); }
          &#h1--right { transform: translate3D(50vw, 0, 0); }
        }
      }
      .header-icon .icon-wrapper {
        opacity: 1;
        transform: translate3D(0, 0, 0);
        transition-delay: $transition-delay--header-scroll;
      }
    }
  }
  #header--page-project {
      transition-duration: $transition-time--header-scroll;
      transition-timing-function: $transition-curve--header-scroll;
    &.hidden {
      transform: translate3D(0, -4rem, 0);
    }
  }
}

// ================================================== Scroll-Marker on Scroll
#scroll-marker-wrapper {
  #scroll-marker {
    transition:
            transform .8s cubic-bezier(.75, 0, .25, 1),
            pointer-events 0s linear .7s,
            opacity .6s cubic-bezier(.75, 0, .25, 1);
    transform: translate3D(0, 0, 0);
  }
  &.scroll-down {
    #scroll-marker {
      opacity: 0;
      pointer-events: none;
      transform: translate3D(0, 4rem, 0);
    }
  }
}