@keyframes scrollArrow {
  from {transform: translateY(.25rem);}
  to {transform: translateY(-.25rem);}
}

@keyframes sunIcon {
  0% {content: "\1F325";}
  25% {content: "\1F325";}
  37.5% {content: "\1F324";}
  50% {content: "\1F325";}
  75% {content: "\1F325";}
  87.5% {content: "\26C5";}
  100% {content: "\1F325";}
}
@keyframes deviceIcon {
  0% {content: "\1F5A5";}
  33% {content: "\1F4BB";}
  66% {content: "\1F4F1";}
  100% {content: "\1F5A5";}
}
@keyframes iceTeaIcon {
  0% {content: "\1F37A";}
  25% {content: "\1F377";}
  50% {content: "\1F378";}
  75% {content: "\1F379";}
  100% {content: "\1F37A";}
}
@keyframes humanIcon {
  0% {content: "\1F483";}
  87.5% {content: "\1F483";}
  93.75% {content: "\1F57A";}
  100% {content: "\1F483";}
}
@keyframes treeIcon {
  0% {content: "\1F332";}
  25% {content: "\1F333";}
  50% {content: "\1F334";}
  75% {content: "\1F333";}
  100% {content: "\1F332";}
}

.slider {
  position: relative;
  width: 100%;
  height: auto;
  img {
    &:not(:first-child) {
      position: absolute;
      top: 0;
      left: 0;
    }
    opacity: 0;
    &.slide--visible {
      opacity: 1;
    }
  }
}