@keyframes scrollArrow {
  from {transform: translateY(.25rem);}
  to {transform: translateY(-.25rem);}
}

.slider {
	position: relative;
	width: 100%;
	height: auto;
	img:not(:first-child) {
	  position: absolute;
	  top: 0;
	  left: 0;
	}
	img {
	  opacity: 0;
	  &.slide--visible {
	    opacity: 1;
	  }
	}
}