

// ================================================== FONTS & TYPOGRAPHY

$font-sans:             "Tenor Sans", Helvetica, sans-serif;
$font-serif:            "Spectral", Times, serif;

$font-size--small:      1rem;
$font-size--medium:     1.5rem;
$font-size--large:      2rem;

