

// ================================================== FONTS & TYPOGRAPHY
@font-face {
  font-family: 'Messina Sans Mono';
  src: url('../fonts/MessinaSansMonoTrial-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Messina Serif';
  src: url('../fonts/MessinaSerifTrial-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Messina Serif Italic';
  src: url('../fonts/MessinaSerifTrial-RegularItalic.otf') format('opentype');
}




$font-serif:            "Spectral", Palatino, serif;
$font-serif-italic:     "Messina Serif Italic", Palatino, serif;
$font-mono:             'Messina Sans Mono', Courier, monospace;

/*
  'Overpass Mono', monospace; 400
'Space Mono', monospace; 400, 700
'Share Tech', sans-serif; 400

  'nimbus-sans' 400, 700
*/

$font-size--xs:     .75rem;
$font-size--s:      1rem;
$font-size--m:      1.5rem;
$font-size--l:      2rem;

$basic-line-height: 1.5;

@mixin monospace-medium() {
  font-family: $font-mono;
  font-size: $font-size--m;
  font-weight: 400;
  letter-spacing: .01em;
}
@mixin monospace-small() {
  font-family: $font-mono;
  font-size: $font-size--s;
  font-weight: 400;
  letter-spacing: .01em;
}
@mixin monospace-extrasmall() {
  font-family: $font-mono;
  font-size: $font-size--xs;
  font-weight: 400;
  line-height: 1.0;
}
@mixin serif-large() {
  font-family: $font-serif;
  font-size: $font-size--l;
  font-weight: 400;
  line-height: $basic-line-height;
}
@mixin serif-large-italic() {
  font-family: $font-serif;
  font-size: $font-size--l;
  font-weight: 400;
  line-height: $basic-line-height;
  letter-spacing: .01em;
  font-style: italic;
}
@mixin serif-extrasmall() {
  font-family: $font-serif;
  font-size: $font-size--xs;
  font-weight: 500;
  line-height: $basic-line-height;
  letter-spacing: .03em;
}

