

// ================================================== FONTS & TYPOGRAPHY
@font-face {
  font-family: 'Kraut und Ruben Logo';
  src: 
      url('../fonts/KrautundRubenLogo-Regular.ttf') format('truetype'),
      url('../fonts/KrautundRubenLogo-Regular.eot') format('embedded-opentype'),
      url('../fonts/KrautundRubenLogo-Regular.woff2') format('woff2'),
      url('../fonts/KrautundRubenLogo-Regular.woff') format('woff');

}
@font-face {
  font-family: 'Galaxie Copernicus';
  src: url('../fonts/CopernicusBook.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'Galaxie Copernicus';
  src: url('../fonts/CopernicusBookItalic.otf') format('opentype');
  font-style: italic;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('../fonts/UntitledSans-Regular.otf') format('opentype');
}


// Font Variables
$logotype:              'Kraut und Ruben Logo', Courier, monospace;
$font-serif:            'Galaxie Copernicus', Palatino, serif;
$font-sans:             'Untitled Sans', Helvetica, sans-serif;
$font-mono:             'Messina Sans Mono', Courier, monospace;

// Font Weight Variables
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Line Height Variables
$line-height--extralarge: 2;
$line-height--large: 1.75;
$line-height--base: 1.5;
$line-height--heading: 1.3;

// Font Size Map
$font-size: (
  xs:     .75rem,
  s:      1rem,
  m:      1.5rem,
  l:      2rem,
  xl:     2.5rem
);

// Map key extraction

@function font-size($key) {
  @if map-has-key($font-size, $key) {
    @return map-get($font-size, $key);
  }
  @warn "Unknown `#{$key}` in $font-size.";
  @return null;
}

// Typo Mixins

@mixin font-sans($font-size, $letter-spacing: false, $line-height: false, $font-style: false) {
  font-size: font-size($font-size);
  font-family: $font-sans;
  font-weight: $normal;
  @if $letter-spacing { letter-spacing: $letter-spacing; }
  @if $line-height { line-height: $line-height; } @else { line-height: $line-height--base }
  @if $font-style { font-style: $font-style; }
  @if ($font-size == xs) {
    @include bp(m) {
      font-size: font-size(s);
    }
  }
}

@mixin font-serif($font-size, $letter-spacing: false, $line-height: false, $font-style: false) {
  font-size: font-size($font-size);
  font-family: $font-serif;
  font-weight: $normal;
  @if $letter-spacing { letter-spacing: $letter-spacing; }
  @if $line-height { line-height: $line-height; } @else { line-height: $line-height--base }
  @if $font-style { font-style: $font-style; }
  @if $font-size == xs {
    @include bp(m) {
      font-size: font-size(s);
    }
  }
}

/* @mixin sans($size...) {
    font-family: $font-sans;
    @each in $font-size {}
    @if $size { font-size: font-size($size); }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}
*/

@mixin logotype($font-size) {
  font-family: $logotype;
  font-size: font-size($font-size);
  font-weight: 400;
  letter-spacing: .02em;
}