

// ================================================== COLOR

$color-main:                   rgb(232, 72, 76); // red front color				rgb(236, 72, 73); // rgb(228, 90, 100);
$color-accent:                 rgb(133, 205, 117); // green front color			rgb(95, 200, 140); //rgb(102, 200, 116);
$color-background-light:       hsl(350, 90, 95); // red background color 		rgb(250, 232, 235);
$color-background-dark:        rgb(235, 232, 225); // green background color    hsl(151, 60, 94); //rgb(228, 245, 240);

$color-hover-background-light: #EEE;
$color-hover-light: 		   #EEE;
$color-hover-background-dark:  #111;
$color-hover-dark:  		   #111;




// ================================================== GRID


$gutter-x: 3rem;
$gutter-y: $gutter-x;


$z-index-header:               1000;
$z-index-page-visible:         100;
$z-index-page-hidden:          -100;

// ================================================== SUB-PAGE NAMES

$subpages: space, casino-bregenz, grenzkunst, hypernet, el-presidente;