

// ================================================== COLOR

$color-main:                   rgb(220, 82, 90);
$color-accent:                 rgb(102, 200, 116);
$color-background-light:       rgb(255, 240, 245);
$color-background-dark:        rgb(235, 245, 245);
$color-background-black:	   #111;

$color-hover-background-light: #EEE;
$color-hover-light: 		   #EEE;
$color-hover-background-dark:  #111;
$color-hover-dark:  		   #111;




// ================================================== GRID


$gutter-x: 3rem;
$gutter-y: $gutter-x;


$z-index-header:               1000;
$z-index-page-visible:         100;
$z-index-page-hidden:          -100;

// ================================================== SUB-PAGE NAMES

$subpages: space, casino-bregenz, grenzkunst, hypernet, el-presidente;