

// ================================================== COLOR

$color-red:                   rgb(180, 120, 30); //rgb(232, 72, 76);
$color-green:                 black; //rgb(110, 185, 100);
$color-background-red:        rgb(255, 249, 238);//rgb(255, 245, 248); rgb(254, 231, 235);
$color-background-green:      white;//rgb(245, 249, 245); rgb(228, 236, 228);

$color-hover-background-light: #EEE;
$color-hover-light: 		   #EEE;
$color-hover-background-dark:  #111;
$color-hover-dark:  		   #111;




// ================================================== GRID


$gutter-x: 5vw;
$gutter-y: 3rem;


$z-index-header:               1000;
$z-index-imprint:			   200;
$z-index-page-visible:         100;
$z-index-page-hidden:          -100;

// ================================================== SUB-PAGE NAMES

$subpages: space, casino-bregenz, grenzkunst, hypernet, el-presidente;