// Add Animation on Scroll to HTML-Objects
// Javascript: AddClass and RemoveClass

// Img-Scroll
.fadeIn {
  * {
    transition:
            opacity .75s cubic-bezier(0, .4, .4, 1),
            transform 1.5s cubic-bezier(0, .4, .4, 1);
    opacity: 0;
    transform: scale(0.95) translate(0, 5rem);
  }
  &.fadeIn-visible * {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
}

// Header-Scroll
header {
  .word-mark p {
    transition: right .8s ease, left .8s ease, top .8s ease;
  }
  .head-icon {
    transition: top .8s cubic-bezier(.75, 0, .25, 1);
  }
  &.header-scroll {
    .word-mark {
      p {
        &#h1--left {
          right: 120%;
        }
        &#h1--center {
          top: -3rem;
        }
        &#h1--right {
          left: 120%;
        }
      }
    }
    .head-icon {
      top: 0;
    }
  }
}