

// ================================================== FONT & TYPOGRAPHY

$font-sans:             "Helvetica Neue", Helvetica, sans-serif;
$font-serif:            "Times New Roman", Times, serif;

$font-size--small:      1rem;
$font-size--medium:     1.5rem;
$font-size--large:      2rem;


// ================================================== COLOR

$color-main:            black;
$color-active:          orange;
$color-background:      #132;



// ================================================== GRID

$column: 100vw / 12;
