

// ================================================== FONT & TYPOGRAPHY

$font-sans:             "Tenor Sans", Helvetica, sans-serif;
$font-serif:            "Times New Roman", Times, serif;

$font-size--small:      1rem;
$font-size--medium:     1.5rem;
$font-size--large:      2rem;


// ================================================== COLOR

$color-main:            black;
$color-active:          orange;
$color-background:      #EEE;



// ================================================== GRID

$gutter: 2rem;
