header {
  position: fixed;
  z-index: 1;
  width: 100%;
  .word-mark {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    p {
      position: absolute;
      font-family: $font-sans;
      font-size: $font-size--small;
      margin: (($gutter - 1.5rem) / 2) 0;
      &#h1--left {
        right: calc(50% + 0.7rem);
      }
      &#h1--center {
        width: .8rem;
        left: calc(50% - .4rem);
        text-align: center;
      }
      &#h1--right {
        left: calc(50% + 0.7rem);
      }
    }
  }
  .head-icon {
    position: absolute;
    display: inline-block;
    margin: (($gutter - 1.5rem) / 2);
    width: 1.5rem;
    top: -3rem;
    &#head-icon--kraut {
      left: 0;
    }
    &#head-icon--ruebe {
      right: 0;
    }
    img {
      width: 100%;
      transition: transform .5s ease;
    }
    &:hover img {
      transform: scale(2);
    }
  }
}