
@import "../modules/variables";
@import "../modules/scroll-transitions";


body {
  background: $color-background;
  color: $color-main;
}

body, .page {
  overflow-x: hidden;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}