
body {
}

.page .section {
  overflow-x: hidden;
  width: 100vw;
}


#page--main {
  overflow-x: hidden;

  #section--about {
    width: 100vw;
    height: 10rem;
  }

  #section--projects {
    //overflow-x: hidden;
    width: 100vw;
    padding: ($column / 2);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .project-banner {

      display: block;
      //margin: ($column * 2) ($column / 2);
      height: 100vh;
      width: 100vw;

      &.img-small img {
        width: 3 * $column;
      }
      &.img-middle img {
        width: 5 * $column;
      }
      &.img-large img {
        width: 7 * $column;
      }

      img {
        width: 100%;
        transition: transform 1s ease;
        overflow-y: hidden;
      }

      &:hover img {
        transform: scale(1.05);
      }
    }
  }

  footer {
    width: 100vw;
    height: 10rem;
    overflow-y: hidden;
  }
}