
body, .page {
  overflow-x: hidden;
  width: 100vw;
}

.fadeIn {

  * {
    transition:
            opacity .3s ease,
            transform .5s ease;

    opacity: 0;
    transform: scale(0);
  }

  &.fadeIn-visible * {
    opacity: 1;
    transform: scale(1);
  }
}


header {
  position: fixed;
  width: 100%;

  background: blue;

  .head-icon {
    //position: absolute;
    margin: 1rem;
    width: 2rem;
    display: inline-block;


    &:hover img {
      transform: rotate(-720deg);
    }

    &#head-icon--kraut {
      float: left;
    }
    &#head-icon--ruebe {
      float: right;
    }

    img {
      width: 100%;
      transition: transform .5s ease;
    }

  }
}


#page--main {

  #section--about {
    width: 100vw;
    height: 10rem;
  }

  #section--projects {
    width: 100vw;
    padding: ($column / 2);

    .project-banner {
      display: inline-block;
      margin: ($column / 2);
      transition: transform 1s ease;

      &.img-small {
        width: 3 * $column;
      }
      &.img-middle {
        width: 5 * $column;
      }
      &.img-large {
        width: 7 * $column;
      }

      img {
        width: 100%;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  footer {
    width: 100vw;
    height: 10rem;
    overflow-y: hidden;
  }
}