footer {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: (.5 * $gutter-y) (.5 * $gutter-x);
  #footer-text {
    box-sizing: border-box;
    width: 50rem;
    max-width: 100%;
    padding: (.5 * $gutter-y) (.5 * $gutter-x) $gutter-y;
    @include font-serif(l);
    p { margin: 0; }
  }
  #footer-image{
    font-size: 0;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding: (.5 * $gutter-y) (.5 * $gutter-x);
    img {
      width: 50%;
      float: left;
    }
  }
  #foot-line {
    max-width: 85%;
    width: 45rem;
    @include font-sans(xs, .04em, $line-height--extralarge);
    list-style: none;
    padding: (.5 * $gutter-y) 0 0;
    margin: 0 (.5 * $gutter-x);
    display: flex;
    justify-content: space-between;
    li {
      padding: (.5 * $gutter-y) 0;
      p {
        //margin: .4rem 0;
        a {
          display: inline-block;
          @include hover--footer-link();
        }
      }
      span {
        display: inline-block;
      }
      &.footer-li-middle {
        transform: translateX(-1rem);
      }
    }
    @include bp(s) {
      flex-direction: column;
      li {
        padding: 0;
        &.footer-li-middle {
        transform: translateX(0);
        }
      }
      }
    }
  }
}