footer {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: (.5 * $gutter-y) (.5 * $gutter-x);
  #footer-text {
    box-sizing: border-box;
    width: 50rem;
    max-width: 100%;
    padding: (.5 * $gutter-y) (.5 * $gutter-x) $gutter-y;
    @include font-serif(l);
    p { margin: 0; }
  }
  #footer-image{
    box-sizing: border-box;
    width: 100%;
    padding: (.5 * $gutter-y) (.5 * $gutter-x);
    img {
      width: 50%;
    }
  }
  .foot-line {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - #{$gutter-x});
    @include font-sans(xs, .04em, $line-height--extralarge);
    list-style: none;
    padding: (.5 * $gutter-y) 0 0;
    margin: 0 (.5 * $gutter-x);
    li {
      margin: (.5 * $gutter-y) 0;
      p {
        //margin: .4rem 0;
        a {
          display: inline-block;
          @include hover--footer-link();
        }
      }
      span {
        display: inline-block;
      }
      &.footer-li-left {
        float: left;
        width: 50%;
      }
      &.footer-li-middle {
        float: left;
      }
      &.footer-li-right {
        float: right;
      }
    }
    @include bp(s) {
      flex-direction: column;
      li {
        margin: 0;
        &.footer-li-middle {
        transform: translateX(0);
        }
      }
      }
  }
}
