footer {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: (.5 * $gutter-y) (.5 * $gutter-x);
  #footer-text {
    box-sizing: border-box;
    //width: 50rem;
    //max-width: 100%;
    padding: (.5 * $gutter-y) (.5 * $gutter-x) $gutter-y;
    //@include font-serif(l, .01em, 1.6);
    width: 34rem;
    max-width: calc(100% - #{$gutter-x});
    @include font-sans(m, false, 1.7);
    p { margin: 0; }
    a {
      display: inline-block;
      backface-visibility: visible;
      overflow: visible;
      @include font-serif(l, false, false, italic);
      @include hover--about-link();
    }
    .icon {
      font-family: $logotype;
      will-change: content;
    }
    .icon--sun:before {
      content: '\1F325';
      animation: sunIcon 4s infinite;
    }
    .icon--device:before {
      content: '\1F5A5';
      animation: deviceIcon 3s infinite;
    }
    .icon--human:before {
      content: '\1F483';
      animation: humanIcon 4s infinite;
    }
    .icon--tree:before {
      content: '\1F333';
      animation: treeIcon 8s infinite;
    }
    .icon--ice-tea:before {
      content: '\1F37A';
      animation: iceTeaIcon 4s infinite;
    }
    &.scroll-animation-top, &.scroll-animation-bottom {
      .icon--sun,
      .icon--device,
      .icon--human,
      .icon--tree,
      .icon--ice-tea {
        &:before {
          animation: null;
        }
      }
    }
  }
  #footer-image{
    box-sizing: border-box;
    width: 100%;
    padding: (.5 * $gutter-y) (.5 * $gutter-x);
    img {
      width: 50%;
    }
  }
  .foot-line {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - #{$gutter-x});
    @include font-sans(xs, .04em, $line-height--extralarge);
    list-style: none;
    padding: (.5 * $gutter-y) 0 0;
    margin: 0 (.5 * $gutter-x);
    li {
      margin: (.5 * $gutter-y) 0;
      p {
        //margin: .4rem 0;
        a {
          display: inline-block;
          @include hover--footer-link();
        }
      }
      span {
        display: inline-block;
      }
      &.footer-li-left {
        float: left;
        width: 50%;
      }
      &.footer-li-middle {
        float: left;
      }
      &.footer-li-right {
        float: right;
      }
    }
    @include bp(s) {
      flex-direction: column;
      li {
        margin: 0;
        &.footer-li-middle {
        transform: translateX(0);
        }
      }
      }
  }
}
