header {
  user-select: none;
  z-index: $z-index-header;
  position: fixed;
  color: $color-red;
  width: 100%;
  //@include on-load--header();
  .page-header {
    position: absolute;
    width: 100%;
    .word-mark {
      display: inline-block;
      width: 100%;
      position: absolute;
      @include logotype();
      span {
        position: absolute;
        top: 0;
        margin: (($gutter-x - 1.5rem) / 2) 0;
        &#h1--left { right: calc(50% + 0.8rem); }
        &#h1--right { left: calc(50% + 0.8rem); }
        &#h1--center {
          text-align: center;
          width: .8rem;
          left: calc(50% - .4rem);
        }
      }
    }
    .header-icon {
      display: inline-block;
      position: absolute;
      margin: (($gutter-x - 2rem) / 2);
      width: 2rem;
      top: 0;
      &.header-element--left { left: 0; }
      &.header-element--right { right: 0; }
      img { width: 100%; }
    }
    .arrow-switch-project, .cross-close-imprint {
      @include logotype();
      position: absolute;
      width: 1rem;
      margin: (($gutter-x - 1.5rem) / 2);
      text-align: center;
      &.header-element--left { 
        left: 0;
        p {
          display: inline-block;
          transition: transform .75s ease;
        }
        &:hover p {
          transform: translateX(-.4rem);
        }
      }
      &.header-element--right { 
        right: 0;
        p {
          display: inline-block;
          transition: transform .75s ease;
        }
        &:hover p {
          transform: translateX(.4rem);
        } 
      }
      &.header-element--center {
        left: calc(50% - .5rem);
        margin-left: 0;
        margin-right: 0;
        p {
          display: inline-block;
          transition: transform .75s ease;
        }
        &:hover p {
          transform: translatey(-.4rem);
        } 
      }
    }
  }
}