header {
  position: fixed;
  z-index: 1;
  width: 100%;
  @include on-load--header();
  .word-mark {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    p {
      position: absolute;
      margin: (($gutter - 1.5rem) / 2) 0;
      @include monospace-small();
      &#h1--left { right: calc(50% + 0.7rem); }
      &#h1--right { left: calc(50% + 0.7rem); }
      &#h1--center {
        text-align: center;
        width: .8rem;
        top: 0;
        left: calc(50% - .4rem);
      }
    }
  }
  .head-icon {
    display: inline-block;
    position: absolute;
    margin: (($gutter - 2rem) / 2);
    width: 2rem;
    top: -4rem;
    &#head-icon--kraut { left: 0; }
    &#head-icon--ruebe { right: 0; }
    img { width: 100%; }
    @include hover--head-icon();
  }
}