header {
  user-select: none;
  z-index: $z-index-header;
  position: fixed;
  width: 100%;
  @include on-load--header();
  .word-mark {
    display: inline-block;
    width: 100%;
    @include logotype();
    span {
      position: absolute;
      top: 0;
      margin: (($gutter - 1.5rem) / 2) 0;
      &#h1--left { right: calc(50% + 0.7rem); }
      &#h1--right { left: calc(50% + 0.7rem); }
      &#h1--center {
        text-align: center;
        width: .8rem;
        left: calc(50% - .4rem);
      }
    }
  }
  .head-icon {
    display: inline-block;
    position: absolute;
    margin: (($gutter - 2rem) / 2);
    width: 2rem;
    top: -4rem;
    &#head-icon--kraut { left: 0; }
    &#head-icon--ruebe { right: 0; }
    img { width: 100%; }
  }
}