#imprint {
	box-sizing: border-box;
	padding: $gutter-y (.5 * $gutter-x);
	color: black;
	
	h1 {
		text-align: right;
		@include font-serif(xl);
		margin-bottom: 3rem;
	}
	h2, h3 {
		@include font-sans(s);
	}
	
	.imprint-header {
		padding: (.5 * $gutter-y) (.5 * $gutter-x);
		margin-bottom: 2rem;
		@include font-sans(s, 0, 2.5);
		p {
			margin: (.2 * $gutter-y) 0 (.6 * $gutter-y) 0;
			//text-align: center;
			span {
				@include font-serif(m, 0, 1.7);
			}
		}

	}
	.imprint-column {
	    box-sizing: border-box;
	    float: left;
	    width: 50%;
	    padding: 0 (.5 * $gutter-x);
	    @include bp(m) {
	      width: 100%;
	    }
		p {
			@include font-serif(xs, 0, $line-height--large);
			margin: 1.275rem 0;
		}
	}
}