
// =========================================================================== M A I N P A G E

.page--project {
  opacity: 0;
  z-index: $z-index-page-hidden;
  transition:
          z-index 0s ease 1s,
          opacity 1s ease;
}
#page--main {
  z-index: $z-index-page-visible;

  #project-column--right, #project-column--left {
     transform: translateX(0);
     transition: transform 1s ease;
  }
}

// =========================================================================== S U B P A G E

.modal-is-active {
  #page--main {
    z-index: $z-index-page-hidden;

    #project-column--right {
      transform: translateX(50vw);
    }
    #project-column--left {
      transform: translateX(-50vw);
    }
  }

  @each $subpage in $subpages {
    &.modal--#{$subpage} #page--#{$subpage} {
      z-index: $z-index-page-visible;
      transition:
              z-index 0s ease,
              opacity 1s ease;
      opacity: 1;
    }
  }
}